$body-background-color: #faf8f3;
$sidebar-color: #f2ede3;

$link-color: #8b6a45;
$btn-primary-color: #8b6a45;

$heading-color: #5f4b32;
$body-text-color: #403c38;

$border-color: #d7cbb8;
$nav-child-link-color: #7a6040;

$code-background-color: #f4efe4;
