// Warm Amber color scheme for Just the Docs

$body-background-color: #fffbf5;
$sidebar-color: #fff8e7;

$link-color: #b45309;
$btn-primary-color: #b45309;

$body-text-color: #3f3f46;
$heading-color: #78350f;

$border-color: #e5d3a5;
$nav-child-link-color: #92400e;

$code-background-color: #fff3d6;
$feedback-color: darken($sidebar-color, 3%);
